<!-- <p>invoice works!</p>
hotel details
<p>Hotel Name: {{hotel.hotelName}}</p>
<p>Hotel Address:{{hotel.hotelAddress}}</p>
<p>Hotel City:{{hotel.city}}</p>

booking details
<p>Booking Price:{{booking.price}}</p>
<p>Room:{{booking.roomType}}</p>
<p>CheckIn:{{booking.checkIn}}</p>
<p>CheckOut:{{booking.checkOut}}</p>
<p>Guest:{{booking.guest}}</p>

customer details 
<p>Email:{{customer}}</p>
<p>Mobile:{{mobile}}</p> -->
<!-- Invoice  -->
<div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3" id="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <address>
                <strong>Hotel</strong>
                <br>
                {{hotel.hotelName}} ,
                {{hotel.hotelAddress}}
                <br>
            </address>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
            <p>
                <em>Ckeck-In Date:{{booking.checkIn}}</em> <br>
                <em>Check-Out Date:{{booking.checkOut}}</em>
            </p>
            <p><em>Room Type: {{booking.roomType}}</em></p>
        </div>
    </div>
    <div class="row">
        <div >
            <h1>Invoice</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Mobile No</th>
                    <th>Email</th>
                    <th>Guest</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody >
                <tr >
                    <td class="col-md-6" rowspan="3" >{{hotel.city}}</td>
                    <td class="col-md-1 ">{{mobile}} </td>
                    <td class="col-md-1 ">{{customer}}</td>
                    <td class="col-md-1 ">{{booking.guest}}</td>    
                    <td class="col-md-1 ">{{booking.price/1.18}}</td>              
                </tr>  
                <tr>  
                    <td><p><strong>+ Tax: </strong></p></td>                          
                    <td><p><strong>18%</strong></p></td>
                </tr>  
                <tr>                            
                    <td class="text-right"><h4><strong>Total:</strong></h4></td>
                    <td class="text-center text-danger"><h4><strong>Rs. {{booking.price}}</strong></h4></td>
                </tr>
            </tbody>
        </table>
        <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10 p-l-5"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i> Print</a>  
    </div>



